body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f5f9fc;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#07294D;
    color:#fff;
    padding:15px 8%;
}

.logo{
    color:#fff;
    font-size:30px;
    font-weight:700;
    margin:0;
}

nav a{
    color:#fff;
    margin-left:18px;
    text-decoration:none;
}

.hero{
    height:70vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    background:
        linear-gradient(#07294dcc,#07294dcc),
        url('https://images.unsplash.com/photo-1576091160399-112ba8d25d1d?auto=format&fit=crop&w=1400&q=80');
    background-size:cover;
    color:#fff;
}

.btn{
    background:#D4AF37;
    color:#07294D;
    padding:12px 24px;
    border-radius:25px;
    text-decoration:none;
    font-weight:bold;
}

section{
    padding:60px 8%;
}

section h2{
    text-align:center;
    color:#07294D;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}

footer{
    text-align:center;
    background:#07294D;
    color:#fff;
    padding:20px;
}
